body {
  background-image: url('../images/parede-de-tijolo.jpg');
  background-size: cover;
  height: 100vh;
}

.container-padding-top {
  padding-top: 100px;
}

.feedback-container {
  align-items: center;
  background-color: rgba(0, 0, 0, 0.596);
  border: solid #4719eca2 0.8px;
  border-radius: 6px;
  box-shadow: inset 0 0 35px #4719eca2 , 0 0 70px #5023f3;
  color: #baade9;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin: 0 auto;
  max-width: 650px;
  min-height: 550px;
  padding: 4px;
  text-align: center;
}

.feedback-container h1 {
  align-items: center;
  display: flex;
  font-size: xx-large;
}

.buttons-controlers {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
}
