.App {
  text-align: center;
}

.incorrect {
  background: red;
  border: 3px solid red;
  box-shadow: inset 0 0 20px red , 0 0 5px red , 0 0 10px #ff0000ab;
  color: black;
  cursor: pointer;
  font-family: fantasy;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 5px 0;
}

.correct {
  background-color: rgba(26, 218, 32, 0.808);
  border: 3px solid rgb(6, 240, 15);
  box-shadow: inset 0 0 25px #06f00f , 0 0 10px #06f00f , 0 0 50px #06f00ee3;
  color: black;
  cursor: pointer;
  font-family: fantasy;
  font-weight: 200;
  letter-spacing: 3px;
  margin: 5px 0;
}
